@import './fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#0154AA;
  --secondary: #737A91;
}

body {
  font-family: 'Neue Haas Grotesk Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}